/* 中间内容box样式 */
.ContentContainer {
    border: 1px solid #eee;
    border-top-right-radius: 0;
    border-top-left-radius: 0;
    padding: 20px 20px 20px;
}

/* 文章列表中帖子统计信息样式 */
.am-list-stat{
    position:absolute;
    right:200px;
    color: #999;
    font-size:1.3rem;
    top:1.3rem
}

/* 文章列表中帖子统计信息样式 */
.am-list-author{
    position:absolute;
    right:280px;
    color: #999;
    font-size:1.3rem;
    top:1.3rem
}

/* 中间内容框 */
.ContentContainer {
    margin-bottom: 100px;
}