http://ycxw.org http://www.ycxw.org {
        redir https://www.lunxue.org
}

https://www.lunxue.cc https://lunxue.cc {
        log /data/logs/caddy/cunxun-ui/iheze.org.log
        gzip
        proxy /api localhost:8005 {
                policy round_robin
        }
}